<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Environment</key>
	<string>Development</string>
	<key>ProductionServer</key>
	<string></string>
	<key>StagingServer</key>
	<string>ec2-13-229-104-65.ap-southeast-1.compute.amazonaws.com</string>
	<key>Demo</key>
	<string>ec2-13-229-104-65.ap-southeast-1.compute.amazonaws.com</string>
	<key>Development</key>
	<string>ec2-13-229-104-65.ap-southeast-1.compute.amazonaws.com</string>
</dict>
</plist>
